body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffe4f2;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  position: relative;
  background: white;
  padding: 3rem; /* Increase padding for more space inside */
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 900px; /* Increase max-width for a bigger container */
  width: 100%;
  margin: 0 1rem; /* Add margin for responsiveness */
  margin-top: 2rem; /* Add margin for spacing */
  margin-bottom: 2rem; /* Add margin for spacing */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
}

.refresh-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ffe4f2;
  color: rgb(101, 97, 97);
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.refresh-button:hover {
  background-color: #ff3399;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  background-color: #ff66b2;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff3399;
}

/* Forecast section */
.forecast {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forecast h2 {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.forecast-days {
  display: flex;
  justify-content: center; /* Add space between forecast items */
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the gap between the forecast days */
}

.forecast-day {
  text-align: center;
  margin: 10px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100px; /* Increase width for each forecast day */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-day p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #555;
}

/* Weather display */
.weather-info {
  margin-top: 20px;
}

.weather-info p {
  font-size: 1.2rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .App {
    width: 90%; /* Reduce the width of the container */
    max-width: 400px; /* Optionally limit the maximum width */
    padding: 2rem; /* Keep padding the same */
  }

  h1 {
    font-size: 2rem;
  }

  input {
    width: 80%;
  }

  button {
    font-size: 0.9rem;
  }
}
  /* .forecast-days {
    flex-direction: column; /* Stack the forecast days vertically on small screens */
   */

  .forecast-day {
    width: 80%; /* Make the forecast days take full width on smaller screens */
  }
